<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MessengerBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <MessengerBrowser.Properties.Settings>
            <setting name="FLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FPIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FAutoPIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPIPWidth" serializeAs="String">
                <value>325</value>
            </setting>
            <setting name="FPIPHeight" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="FPIPPanelWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FPIPPanelHeight" serializeAs="String">
                <value>367</value>
            </setting>
            <setting name="FStopGPU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FEnableFA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPIPPanelLocation" serializeAs="String">
                <value>-70, -45</value>
            </setting>
            <setting name="FPIPIsShowName" serializeAs="String">
                <value>False</value>
            </setting>
        </MessengerBrowser.Properties.Settings>
    </userSettings>
</configuration>
